.article-card {
  background-color: #ffffff;
  outline: solid rgb(60, 202, 160);
  margin: auto;
  margin-top: 8px;
  margin-bottom: 10;
  justify-content: center;
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  height: 150px;
}

.article-title {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-detail {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}
