.App {
  text-align: center;
}

.Header,
.Footer,
.Nav {
  text-align: center;
  border: 1px solid red;
}

.nav-item {
  display: inline-block;
  margin-left: 6px;
  margin-right: 10px;
  font-size: larger;
}

.article-card {
  border: 1px solid red;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid red;
}
.article-body {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid red;
  line-height: 150%;
}

.voter {
  display: flex;
  flex-direction: row;
}

.article-comments-votes-section {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-comment-and-vote-count {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.article-comments {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid red;
}

.article-comments-list {
  line-height: 150%;
}

.comment-box {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
